* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/********** HEADER **********/
header {
    float: left;
    width: 20%;
    background-color: black;
    color: white;
    /* debug */
    height: calc(100vh - 50px);
}





/********** MAIN **********/
main {
    float: left;
    width: 80%;
    background-color: blue;
    color: white;
    overflow-y: scroll;
    /* debug */
    height: calc(100vh - 50px);
}

/* upgrade */
.upgrade {
    /* debug */
    background-color: aqua;
    height: 50px;
}

button {
    position: fixed;
    right: 40px;
    top: 5px;
    font-size: 10px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex div {
    width: 15%;
}

.flex div img {
    width: 100%;
    height: auto;
}






/* navbar */
.navbar {
    font-size: 10px;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    padding: 10px 20px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid yellow;
}







/********** FOOTER **********/
footer {
    background-color: grey;
    color: white;
    /* debug */
    height: 50px;
}