* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.mb-1 {
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 10px;
}



/********** HEADER **********/
header {
    float: left;
    background-color: black;
    color: white;
    padding: 20px 15px;
    /* debug */
    width: 150px;
    height: calc(100vh - 50px);
}

header img {
    width: 100%;
    height: auto;
}

header li {
    display: inline-block;
    padding: 7px 0px;
}

header li a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 12px;
}

.crea-playlist {
    overflow-y: scroll;
}

.playlist {
    margin-bottom: 20px;
}
















/********** MAIN **********/
main {
    float: left;
    width: calc(100vw - 150px);
    background-color: rgb(37, 37, 50);
    color: white;
    overflow-y: scroll;
    /* debug */
    height: calc(100vh - 50px);
}

/* upgrade */
.upgrade {
    /* debug */
    background-color: rgb(34, 31, 31);
    height: 50px;
}

button {
    position: fixed;
    right: 40px;
    top: 5px;
    font-size: 8px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}


/* navbar */
.main-navbar {
    font-size: 10px;
}

.main-navbar ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.main-navbar ul li {
    display: inline-block;
    padding: 10px 20px;
}

.main-navbar ul li a {
    color: white;
    text-decoration: none;
}

.main-navbar ul li a:hover {
    border-bottom: 1px solid yellow;
}



/* row */
.row-main {
    padding-left: 10px;
    padding-top: 40px;
}

.flex-main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.flex-main div {
    width: 15%;
    text-align: center;
}

.flex-main div img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bord-rad {
    border-radius: 50%
}

main p {
    font-size: 10px;
    color: grey;
    /* debug per responsive */
    margin-bottom: 10px;
}

main h4 {
    font-size: 12px;
}






/********** FOOTER **********/
footer {
    background-color: grey;
    color: white;
    /* debug */
    height: 50px;
}